doctype html
html
    head
        title= title
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='/css/bootstrap.min.css', rel='stylesheet', media='screen')
        link(href='/css/bootstrapValidator.min.css', rel='stylesheet', media='screen')
        link(href='/css/style.css', rel='stylesheet', media='screen')

    body#page-top.index
        // Navigation
        nav.navbar.navbar-default.navbar-fixed-top
            .container
                // Brand and toggle get grouped for better mobile display
                .navbar-header.page-scroll
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                        span.sr-only Toggle navigation

                        span.icon-bar

                        span.icon-bar

                        span.icon-bar

                    a.navbar-brand(href='/')
                        img(src='/images/title.png', alt='Mountain View')
                // Collect the nav links, forms, and other content for toggling
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        li.hidden
                            a(href='/')
                        li
                            a(href="/")
                                | Back

        section#register
            .container
                .row
                    .col-lg-4
                    .col-lg-4
                        h1 Register
                            form#login-registerform(role='form', action="/register",method="post")
                                .form-group
                                    input.form-control(type='text', name="username", placeholder='Enter Username',
                                        data-bv-notempty="true", data-bv-notempty-message="The username is required and cannot be empty",
                                        data-bv-stringlength="true", data-bv-stringlength-min="6", data-bv-stringlength-max="20", data-bv-stringlength-message="The username must be more than 6 and less than 20 characters long",
                                        data-bv-regexp="true", data-bv-regexp-regexp="^[a-zA-Z0-9_\.]+$", data-bv-regexp-message="The username can only consist of alphabetical, number, dot and underscore")
                                    p#errinfo #{info}
                                .form-group
                                    input.form-control(type='password', name="password", placeholder='Password',
                                        data-bv-notempty="true", data-bv-notempty-message="The password is required and cannot be empty",
                                        data-bv-stringlength="true", data-bv-stringlength-min="5", data-bv-stringlength-max="20", data-bv-stringlength-message="The username must be more than 5 and less than 20 characters long",
                                        data-bv-identical="true", data-bv-identical-field="retypePassword", data-bv-identical-message="The password and its confirm are not the same",
                                        data-bv-different="true", data-bv-different-field="username", data-bv-different-message="The password cannot be the same as username")
                                .form-group
                                    input.form-control(type='password', name="retypePassword", placeholder='Retype Password',
                                        data-bv-notempty="true", data-bv-notempty-message="The password is required and cannot be empty",
                                        data-bv-stringlength="true", data-bv-stringlength-min="5", data-bv-stringlength-max="20", data-bv-stringlength-message="The username must be more than 5 and less than 20 characters long",
                                        data-bv-identical="true", data-bv-identical-field="password", data-bv-identical-message="The password and its confirm are not the same",
                                        data-bv-different="true", data-bv-different-field="username", data-bv-different-message="The password cannot be the same as username")
                                .col-lg-6
                                    button.btn.btn-default(type='submit') Submit
                                .col-lg-6
                                    a(href='/')
                                        button.btn.btn-primary(type="button") Cancel
                    .col-lg-4

        // Footer
        footer.text-center
            .footer-above
                .container
                    .row
                        .footer-col.col-md-4
                        .footer-col.col-md-4
                        .footer-col.col-md-4
            .footer-below
                .container
                    .row
                        .col-lg-12
                            Copyright &copy; Michaël Soetaert & Kirsten Declercq
        .scroll-top.page-scroll.visible-xs.visble-sm
            a.btn.btn-primary(href='#page-top')
                i.fa.fa-chevron-up

    script(src='js/login-register/login-register.js')
    script(src='http://code.jquery.com/jquery.js')
    script(src='js/bootstrap/bootstrap.min.js')
    script(src='js/bootstrap/bootstrapValidator.min.js')

